.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*shared style*/
.text-primary{
    color: #FD6E0A; ;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    padding: 18px 35px;
    border-radius: 5px;
    background-color:#FD6E0A ;
    color: white;
    font-weight: bold;
    border: none;
    border: none;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.tittle{
    font-weight: bolder;
    font-size: 45px;
}
.header{
    background-image: url(/web-dev-portfolio/images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
}
/* banner styles */
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}
